$sans: Ubuntu, monospace, sans-serif;
%sans--light {
  font-family: $sans;
  font-weight: 300;
  font-style: normal;
}

%sans--regular {
  font-family: $sans;
  font-weight: 400;
  font-style: normal;
}

%sans--semi-bold {
  font-family: $sans;
  font-weight: 500;
  font-style: normal;
}

%sans--bold {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
}

$f3dumb: '3dumb';
%f3dumb--regular {
  font-family: $f3dumb;
  font-weight: 400;
  font-style: normal;
}

%sans--condensed {
  font-family: 'Ubuntu Condensed';
  font-weight: bold;
  font-style: normal;
}
