.container {
  position: relative;
  display: flex;
  margin: auto;
  max-width: 1080px;
  width: 100%;
  background-color: #fff;
}

section {
  margin-bottom: 2rem;
}

section:last-child {
  margin-bottom: 0;
}
