<section class="name">
  <div class="container">
    <div class="block--ends">
      <a href="/">
        <img class="img--left filter" src="assets/images/foto.jpg" draggable="false" alt="photo">
        <h1>{{name}}</h1>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="block">
      <a class="social linkedin" target="_blank" href="https://www.linkedin.com/in/mauro-aguilar"></a>
      <a class="social pinterest" target="_blank" href="https://co.pinterest.com/aguibusta98/"></a>
      <a class="social stackoverflow" target="_blank" href="https://stackoverflow.com/users/6754109/mauro-aguilar"></a>
      <a class="social github" target="_blank" href="https://github.com/mauro1998"></a>
      <a class="social twitter" target="_blank" href="https://twitter.com/aguirara98?lang=es"></a>
      <a class="social facebook" target="_blank" href="https://www.facebook.com/mauro.xx98"></a>
      <a class="social instagram" target="_blank" href="https://www.instagram.com/mauro_x98/?hl=es-la"></a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      About Me
    </h3>
    <p>
      <img class="img--natural" src="assets/images/flag.png" draggable="false" alt="Colombian flag"> — Medellin, Antioquia
      <br>
      <br>
      <strong>Mauro Aguilar Bustamante</strong>
      <br> 20 years old
      <br> Single
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      Professional Profile
    </h3>
    <p>
      I'm a certified fullstack developer and analyst of information systems with 3 years of experience in the field. An expert
      in client side e-learning solutions and problem solving with a wide and comprehensive knowledge of web development
      tools, agile methodologies and programming languages.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      Work Experience
    </h3>
    <ul>
      <li>Fullstack Developer & Project Lead at Victory Productions — 2 years.</li>
      <li>Fullstack Developer at Linden Colombia — 1 year.</li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      Education
    </h3>
    <ul>
      <li>Bachelor of technology in analysis and development of information systems — SENA.</li>
      <li>Bachelor of technical management of computer systems — SENA.</li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      Skills
    </h3>
    <ul>
      <li *ngFor="let skill of getSkills()">
        {{skill}}
      </li>
    </ul>
    <p>
      <a class="link more" (click)="toggleSkills()">
        Show {{ skillsSummarized ? 'more' : 'less' }}
      </a>
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      Personal Skills
    </h3>
    <p>
      I’m a determined and persistent person with good communication skills and healthy interpersonal relationships, a competent
      person willing to listen and learn from others as well as share my own knowledge, I do admit my mistakes and do know
      my weaknesses and strengths, I have the ability to follow directions and provide feedback on time, pursue goals in
      common and achieve them.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      Stuff I Do
    </h3>
    <ul>
      <li>Live Demos (Coming soon)</li>
      <li>Github:
        <a class="link" target="_blank" href="https://github.com/mauro1998">[ Mauro1998 ]</a>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      <span class="hash">##</span>
      Contact Me
    </h3>
    <p>
      <a class="link" href="mailto:aguibusta98@gmail.com">[ aguibusta98@gmail.com ]</a>
      <br> (+ 57) 305 753 3481
    </p>
  </div>
</section>

<div class="container">
  <div class="block--ends">
    &copy; 2018, Mauro Aguilar.
  </div>
</div>

<router-outlet></router-outlet>
