@import "~sass/base/_vars";
@import "~sass/base/_fonts";
@import "~sass/base/mixin-breakpoints";
section.name {
  a:hover {
    .filter {
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%);
    }
  }
  h1 {
    @extend %f3dumb--regular;
    font-size: $unit*3;
    color: $color__navy;
    margin: 0;
    @include bp-at-least($breakpoint__sm) {
      line-height: 8.1rem;
    }
    @include bp-until($breakpoint__sm) {
      font-size: $unit*2;
    }
  }
  img {
    width: 8em;
    border-radius: 10px;
    @include bp-until($breakpoint__sm) {
      float: none;
    }
  }
}

a.more {
  margin-left: 2em;
}
